In [1]:
import pandas as pd
import numpy as np
import ast
import gzip

In [2]:
def descomprimir_json(Archivo):

    # Decodificamos el contenido del archivo.
    with gzip.open(Archivo, 'rt', encoding='utf-8') as Archivo:

        # Recorremos el contenido del archivo y evaluamos cada línea como una expresión Python.
        # El resultado de la evaluación es un diccionario Python.
        # La función strip() elimina los espacios en blanco al principio y al final de la línea.
        return [ast.literal_eval(line.strip()) for line in Archivo]
    #Usamos ast.literal_eval para convertir cada linea en un diccionario y lo agregamos a la lista

In [ ]:
df_items_json = descomprimir_json('users_items.json.gz')
df_items = pd.DataFrame(df_items_json)
df_items.head(3)

In [12]:
#creo 
f=[]
for i in df_items.values:
    f.append(i[4])

df_items_ = pd.DataFrame([items for sublist in f for items in sublist])

In [14]:
df_items_.head(100)

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6,0
1,20,Team Fortress Classic,0,0
2,30,Day of Defeat,7,0
3,40,Deathmatch Classic,0,0
4,50,Half-Life: Opposing Force,0,0
...,...,...,...,...
95,33930,Arma 2: Operation Arrowhead,3,0
96,219540,Arma 2: Operation Arrowhead Beta (Obsolete),0,0
97,17410,Mirror's Edge,0,0
98,205790,Dota 2 Test,0,0
99,50130,Mafia II,707,0

In [15]:
df_items_.to_csv('user_items.csv', index=False)

In [16]:
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [25]:
# Supongamos que tienes un DataFrame llamado df_items con columnas user_id e items
f = []

for i in df_items['items'].values:
    f.extend(i)

df_items_user = pd.DataFrame({'items': f})
df_items_user['user_id'] = df_items['user_id'].repeat(df_items['items'].str.len()).reset_index(drop=True)

In [30]:
df_items_user

                                                     items            user_id
0        {'item_id': '10', 'item_name': 'Counter-Strike...  76561197970982479
1        {'item_id': '20', 'item_name': 'Team Fortress ...  76561197970982479
2        {'item_id': '30', 'item_name': 'Day of Defeat'...  76561197970982479
3        {'item_id': '40', 'item_name': 'Deathmatch Cla...  76561197970982479
4        {'item_id': '50', 'item_name': 'Half-Life: Opp...  76561197970982479
...                                                    ...                ...
5153204  {'item_id': '346330', 'item_name': 'BrainBread...  76561198329548331
5153205  {'item_id': '373330', 'item_name': 'All Is Dus...  76561198329548331
5153206  {'item_id': '388490', 'item_name': 'One Way To...  76561198329548331
5153207  {'item_id': '521570', 'item_name': 'You Have 1...  76561198329548331
5153208  {'item_id': '519140', 'item_name': 'Minds Eyes...  76561198329548331

[5153209 rows x 2 columns]

In [31]:
df_items = pd.json_normalize(df_items_user['items'])

In [32]:
df_items['user_id'] = df_items_user['user_id']

In [33]:
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id
0,10,Counter-Strike,6,0,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479
...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331
5153205,373330,All Is Dust,0,0,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331
5153208,519140,Minds Eyes,3,3,76561198329548331

In [34]:
df_items.to_csv('user_items_2.csv', index=False)

In [ ]:
df1 = pd.read_csv('user_items.csv')
df1