Función 3

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv('user_review_sentiment.csv')

In [5]:
df1

,user_id,posted,item_id,helpful,recommend,polarity,sentiment
0,76561197970982479,"Posted November 5, 2011.",1250.0,No ratings yet,True,0.174444,2
1,76561197970982479,"Posted July 15, 2011.",22200.0,No ratings yet,True,0.337500,2
2,76561197970982479,"Posted April 21, 2011.",43110.0,No ratings yet,True,0.050000,2
3,js41637,"Posted June 24, 2014.",251610.0,15 of 20 people (75%) found this review helpful,True,0.114583,2
4,js41637,"Posted September 8, 2013.",227300.0,0 of 1 people (0%) found this review helpful,True,-0.036111,0
...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70.0,No ratings yet,True,0.233333,2
59301,76561198312638244,Posted July 8.,362890.0,No ratings yet,True,0.142500,2
59302,LydiaMorley,Posted July 3.,273110.0,1 of 2 people (50%) found this review helpful,True,0.087500,2
59303,LydiaMorley,Posted July 20.,730.0,No ratings yet,True,1.000000,2
59304,LydiaMorley,Posted July 2.,440.0,No ratings yet,True,0.650000,2

In [7]:
# Reemplaza 'df' con el nombre real de tu DataFrame y 'columna_texto' con el nombre de la columna que deseas modificar
df1['posted'] = df1['posted'].str.replace('Posted', '', case=False)


# Reemplaza 'df' con el nombre real de tu DataFrame y 'columna_texto' con el nombre de la columna que deseas modificar
palabras_a_eliminar = [    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"]

for palabra in palabras_a_eliminar:
    df1['posted'] = df1['posted'].str.replace(palabra, ' ', case=False)

df1['posted'] = df1['posted'].str.replace(',', '-', case=False)
df1['posted'] = df1['posted'].str.replace('.', '', case=False)

# Divide la columna 'posted' por el guion y selecciona la segunda parte
df1['posted'] = df1['posted'].str.split('-').str[1]

# Convierte la columna 'posted' a tipo numérico si es necesario
df1['posted'] = pd.to_numeric(df1['posted'], errors='coerce')

In [8]:
df1

,user_id,posted,item_id,helpful,recommend,polarity,sentiment
0,76561197970982479,2011.0,1250.0,No ratings yet,True,0.174444,2
1,76561197970982479,2011.0,22200.0,No ratings yet,True,0.337500,2
2,76561197970982479,2011.0,43110.0,No ratings yet,True,0.050000,2
3,js41637,2014.0,251610.0,15 of 20 people (75%) found this review helpful,True,0.114583,2
4,js41637,2013.0,227300.0,0 of 1 people (0%) found this review helpful,True,-0.036111,0
...,...,...,...,...,...,...,...
59300,76561198312638244,NaN,70.0,No ratings yet,True,0.233333,2
59301,76561198312638244,NaN,362890.0,No ratings yet,True,0.142500,2
59302,LydiaMorley,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,0.087500,2
59303,LydiaMorley,NaN,730.0,No ratings yet,True,1.000000,2
59304,LydiaMorley,NaN,440.0,No ratings yet,True,0.650000,2

In [12]:
df1.dropna(subset = 'posted', inplace= True)

In [13]:
df1['posted'] = df1['posted'].astype(int)

In [14]:
df1

,user_id,posted,item_id,helpful,recommend,polarity,sentiment
0,76561197970982479,2011,1250.0,No ratings yet,True,0.174444,2
1,76561197970982479,2011,22200.0,No ratings yet,True,0.337500,2
2,76561197970982479,2011,43110.0,No ratings yet,True,0.050000,2
3,js41637,2014,251610.0,15 of 20 people (75%) found this review helpful,True,0.114583,2
4,js41637,2013,227300.0,0 of 1 people (0%) found this review helpful,True,-0.036111,0
...,...,...,...,...,...,...,...
59252,wayfeng,2015,730.0,1 of 1 people (100%) found this review helpful,True,0.000000,1
59255,76561198251004808,2015,253980.0,No ratings yet,True,0.300000,2
59265,72947282842,2015,730.0,No ratings yet,True,-0.512500,0
59267,ApxLGhost,2015,730.0,No ratings yet,True,0.100000,2
59276,76561198267374962,2015,369200.0,1 of 2 people (50%) found this review helpful,True,0.500000,2

In [20]:
df1['recommend'].describe()

count     49186
unique        2
top        True
freq      44182
Name: recommend, dtype: object

In [21]:
df1_recommend_true = df1[df1['recommend'] == True]

In [25]:
df1_recommend_true = df1_recommend_true [[ 'posted', 'item_id', 'sentiment']]

In [27]:
df1_recommend_true.rename(columns={'item_id': 'id'}, inplace=True)

C:\Users\Heidi\AppData\Local\Temp\ipykernel_17876\3587587687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_recommend_true.rename(columns={'item_id': 'id'}, inplace=True)

In [28]:
df1_recommend_true

       posted        id  sentiment
0        2011    1250.0          2
1        2011   22200.0          2
2        2011   43110.0          2
3        2014  251610.0          2
4        2013  227300.0          0
...       ...       ...        ...
59252    2015     730.0          1
59255    2015  253980.0          2
59265    2015     730.0          0
59267    2015     730.0          2
59276    2015  369200.0          2

[44182 rows x 3 columns]

In [30]:
df_mas_recomendado_x_anio = df1_recommend_true.groupby(['posted', 'id'])['sentiment'].sum().reset_index()

# Ordena de mayor a menor
df_mas_recomendado_x_anio = df_mas_recomendado_x_anio.sort_values(by='sentiment', ascending=False)

In [61]:
df_mas_recomendado_x_anio

      posted        id  sentiment
1221    2014     440.0       2282
2694    2015     730.0       2108
1227    2014     730.0       1505
533     2013     440.0       1213
1261    2014    4000.0       1084
...      ...       ...        ...
2426    2014  283230.0          0
3700    2015  283290.0          0
3701    2015  283430.0          0
3702    2015  283680.0          0
3258    2015  225260.0          0

[4508 rows x 3 columns]

In [62]:

años = df_mas_recomendado_x_anio['posted'].unique()
años

array([2014, 2015, 2013, 2012, 2011, 2010])

In [76]:

# Lista de años de interés
años_interés = [2014, 2015, 2013, 2012, 2011, 2010]

# Crear un DataFrame vacío para almacenar los resultados
result_df = pd.DataFrame(columns=['posted', 'id', 'sentiment'])

# Iterar a través de cada año y obtener los tres IDs con el puntaje de "sentiment" más alto
for año in años_interés:
    df_año = df_mas_recomendado_x_anio[df_mas_recomendado_x_anio['posted'] == año]
    top_3_ids = df_año.nlargest(3, 'sentiment')
    result_df = pd.concat([result_df, top_3_ids], ignore_index=True)


# Restablecer el índice del DataFrame resultante
result_df.reset_index(drop=True, inplace=True)

# Muestra el resultado
print(result_df)

   posted        id sentiment
0    2014     440.0      2282
1    2014     730.0      1505
2    2014    4000.0      1084
3    2015     730.0      2108
4    2015     440.0       948
5    2015    4000.0       478
6    2013     440.0      1213
7    2013    4000.0       484
8    2013     570.0       371
9    2012     440.0       394
10   2012    4000.0        65
11   2012  105600.0        62
12   2011     440.0       116
13   2011     620.0        45
14   2011  105600.0        36
15   2010     440.0        18
16   2010    1250.0        11
17   2010     630.0         7

In [77]:
df2 = pd.read_csv('steam_games.csv')
df2 = df2[['app_name','id']]
df2

C:\Users\Heidi\AppData\Local\Temp\ipykernel_17876\2830986885.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('steam_games.csv')

                        app_name        id
0                            NaN       NaN
1                            NaN       NaN
2                            NaN       NaN
3                            NaN       NaN
4                            NaN       NaN
...                          ...       ...
120440            Colony On Mars  773640.0
120441  LOGistICAL: South Africa  733530.0
120442             Russian Roads  610660.0
120443       EXIT 2 - Directions  658870.0
120444               Maze Run VR  681550.0

[120445 rows x 2 columns]

In [78]:
result_df = result_df.merge(df2, on='id', how='left')
result_df

   posted        id sentiment                          app_name
0    2014     440.0      2282                   Team Fortress 2
1    2014     730.0      1505  Counter-Strike: Global Offensive
2    2014    4000.0      1084                       Garry's Mod
3    2015     730.0      2108  Counter-Strike: Global Offensive
4    2015     440.0       948                   Team Fortress 2
5    2015    4000.0       478                       Garry's Mod
6    2013     440.0      1213                   Team Fortress 2
7    2013    4000.0       484                       Garry's Mod
8    2013     570.0       371                            Dota 2
9    2012     440.0       394                   Team Fortress 2
10   2012    4000.0        65                       Garry's Mod
11   2012  105600.0        62                          Terraria
12   2011     440.0       116                   Team Fortress 2
13   2011     620.0        45                          Portal 2
14   2011  105600.0        36                          Terraria
15   2010     440.0        18                   Team Fortress 2
16   2010    1250.0        11                     Killing Floor
17   2010     630.0         7                       Alien Swarm

In [80]:
result_df.to_csv('Funcion_3_jup.csv')

In [15]:
users_recommend = pd.read_csv('Funcion_3_jup.csv')
users_recommend

    Unnamed: 0  posted        id  sentiment                          app_name
0            0    2014     440.0       2282                   Team Fortress 2
1            1    2014     730.0       1505  Counter-Strike: Global Offensive
2            2    2014    4000.0       1084                       Garry's Mod
3            3    2015     730.0       2108  Counter-Strike: Global Offensive
4            4    2015     440.0        948                   Team Fortress 2
5            5    2015    4000.0        478                       Garry's Mod
6            6    2013     440.0       1213                   Team Fortress 2
7            7    2013    4000.0        484                       Garry's Mod
8            8    2013     570.0        371                            Dota 2
9            9    2012     440.0        394                   Team Fortress 2
10          10    2012    4000.0         65                       Garry's Mod
11          11    2012  105600.0         62                          Terraria
12          12    2011     440.0        116                   Team Fortress 2
13          13    2011     620.0         45                          Portal 2
14          14    2011  105600.0         36                          Terraria
15          15    2010     440.0         18                   Team Fortress 2
16          16    2010    1250.0         11                     Killing Floor
17          17    2010     630.0          7                       Alien Swarm

In [16]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado 'df' con las columnas proporcionadas

def UsersRecommend(posted):
    # Filtrar el DataFrame por el año dado
    df_año = users_recommend[users_recommend['posted'] == posted]

    # Aplicar las condiciones para obtener el top 3
    top_3_df = df_año[(df_año['sentiment'] >= 0) & (df_año['app_name'].notnull())]

    # Ordenar el DataFrame por 'sentiment' de mayor a menor
    top_3_df = top_3_df.sort_values(by='sentiment', ascending=False).head(3)

    # Crear una lista de diccionarios con el top 3
    top_3_dict = {}
    for i, row in top_3_df.iterrows():
        puesto = "Puesto " + str(i + 1 - top_3_df.index[0])
        top_3_dict[puesto] = row['app_name']

    return top_3_dict

In [17]:
# Ejemplo de uso:
posted = 2010
top_3_juegos = UsersRecommend(posted)
top_3_juegos

{'Puesto 1': 'Team Fortress 2',
 'Puesto 2': 'Killing Floor',
 'Puesto 3': 'Alien Swarm'}